<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{url_for('static', filename='js/get_update.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/validate_gtirb_job.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/validate_file_uploads.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/validate_file_mod.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}" type="text/javascript"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>TPCP Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <style>

    body {
    background-color: white;
    font-family: 'Scope One', serif;
    }
    body section{
    padding: 1em 2em 1em 2em;
    }

    span {
    font-size: 9
    }

    p {
    margin-top: 0;
    margin: auto;
    color: black;
    /*    width: 50%; */
    }

    .queue {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    .queue td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
    }

    .queue tr:nth-child(even){background-color: #f2f2f2;}

    .queue tr:hover {background-color: #ddd;}

    .queue th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    }

    .block {
    display: inline-block;
    margin: 20px 2% 20px 2%;
    }

    .border-file-upload {
        border-style: solid;
        border-width: 3px;
        border-radius: 1em;
    }

    .light-grey-background{
        background: rgb(192, 192, 192)
    }

    .half-width {
        max-width: 50%;
    }

    .pt-20{
        padding-top: 20px;
    }

    .ptb-20 {
        padding: 20px 0 20px 0;
    }

    .pb-20 {
        padding-bottom: 20px;
    }

    .pl-20{
        padding-left: 20px;
    }

    .pl-40{
        padding-left: 40px;
    }

    .margin-left-20{
        margin-left: 20px;
    }

    .margin-left-40{
        margin-left: 40px;
    }

    .margin-top-20{
    margin-top: 20px;
    }
    .margin-top-40{
        margin-top: 40px;
    }

    .do-not-display{
        display: none;
    }
    .do-display{
        display: block;
    }

    .error-text {
        color: red;
    }

    section .error-on-input-field{
        border-style: solid;
        border-color: red;
        border-width: 3px;
        border-radius: 1em;
    }

    .display-inline{
        display: inline-block;
    }

    .text-green {
        color: green;
    }
    .text-red {
        color: red;
    }
    .float-right{
        float: right;
    }

    .child-coloring:nth-child(odd){
        background-color: #b7cbd4;
        border-radius: 0.4em;
    }
        #TD-JobStatus {
				background-color:#CCC;

    }
    TD-JobStatus-Container {
        max-height:100px;
        overflow-y:auto;
		margin-left:-5px;
        border-style: solid;
    }


    </style>
</head>
<body>
    {% set active_page = 'GTIRB' %}
    {% include 'nav.html' %}
    <section>
        <h3 class="ptb-20">GTIRB Transforms</h3>
<!--        <p id="counter">counter: {{counter}}</p>-->
        <h4 class="pb-20 margin-left-20">Upload</h4>
        <section id="upload_section" class="border-file-upload light-grey-background half-width margin-left-40">
            <p>1. Select all of your files</p>
            <p>2. If you want to add more files to a previous job select the id in the dropdown menu</p>
            <p>3. Select 'Upload Files'</p>
            <p class="do-not-display error-text" id="file_upload_error_text">Error: You must select at least one file to press submit</p>
            <form class="my-form" name="upload_files" onsubmit="return ensure_file_to_load()" enctype="multipart/form-data" method="post">
                <input type="hidden" value="UploadFile" name="HiddenField">
                <div class="block">
                    <input type="file"  multiple accept="file_extension", name="files[]">
                </div>

        <!--        <br><br>-->
                <div class="block">
                    <p>Adding to a previous job or new job?</p>
                    <label for="ID">Choose an ID:</label>
                    <select id="ID" name="JobID">
                        <option value="New Job">New Job</option>
                        {% if current_series_ids|length > 0 %}
                           {% for item in current_series_ids %}
                               <option value={{item}}>ID: {{item}}</option>
                           {% endfor %}
                        {% endif %}
                    </select>
                </div>

        <!--        <br><br>-->
                <div class="block">
                    <input type="submit" value="Upload Files" id="upload_files_btn">
                </div>

            </form>
        </section>

<!--        <progress id="progress-bar" max="100" value="10"></progress>-->

        {% if id %}
        <p class="pb-20">The Id of your task is: {{id}}</p>
        {% endif %}

        {% if current_series_ids|length > 0 %}
        <h4 class="margin-top-20">Active Jobs Table</h4>
            {% for item in current_series_ids %}
                <table class="queue margin-top-20">
                    <thead><tr>
                        <th>IDs</th>
                        <th>Filename</th>
                        <th>File type</th>
                        <th>Detected Dynamic Dependencies</th>
                        <th>Included</th>
                        <th>Update</th>
                      </tr></thead>
                    <tbody>
                        {% for key in current_tasks[item].keys() %}
                        {% if key != "JobInfo" %}
                            <form method='post' name="entry_{{key}}"onsubmit="validate_file_mod('{{key}}')">
                                <input type="hidden" value="ModifyFile" name="HiddenField">
                                <tr>
                                    <td><input name="ID" type="hidden" value="{{item}}">{{item}}</td>
                                    <td><input name="FileName" type="hidden"value="{{key}}"> {{key}}</td>
                                    <td>

                                        {% if current_tasks[item][key]['filetype'] not in ["Log", "Directory"] %}
                                            {{current_tasks[item][key]["filetype"]}}:
                                            <input type="hidden" value="{{current_tasks[item][key]['filetype']}}" id="HiddenFileType{{item}}" name="HiddenFileType{{item}}">
                                            <select id="FileType" name="FileType" id="FileType{{item}}">
                                                <option value="No Change">No Change</option>
                                                <option value="binary">c/c++ binary</option>
                                                <option value="library">library</option>
<!--                                                <option value="gtirb">gtirb</option>-->
                                            </select>
                                        {% else %}
                                            {{current_tasks[item][key]["filetype"]}}
<!--                                            <input type="hidden" value="{{current_tasks[item][key]['filetype']}}" id="HiddenFileType{{item}}" name="FileType">-->
                                            <p style="display: inline-block;"> (Not Modifiable)</p>
                                        {% endif %}
                                    </td>
                                    <td>

                                        {% if current_tasks[item][key]['dependency_libs'] != "" %}
                                            {% for dependency in current_tasks[item][key]['dependency_libs'] %}
                                                <section class="child-coloring">
                                                    <p class="display-inline">{{dependency}}</p>
                                                    <p
                                                        {% if dependency in current_tasks[item].keys()%}
                                                            class="display-inline text-green float-right">(present)
                                                        {% else %}
                                                            class="display-inline text-red float-right">(not present)
                                                        {% endif %}
                                                    </p>
                                                </section>

                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td id="Included-TD">
                                        {% if current_tasks[item][key]['filetype'] not in ["Log", "Directory"] %}
                                            <input name="Included" id="Included-True{{key}}" type="radio" value="True"
                                                   {% if current_tasks[item][key]['included'] == True%} checked {% endif %}
                                            > Yes, Include
                                            </br>
                                            <input name="Included" id="Included-False{{key}}" type="radio" value="False"
                                            {% if current_tasks[item][key]['included'] == False%} checked {% endif %}
                                            > No, Do Not Include
                                        {% else %}
<!--                                            <input name="Included" id="Included-False{{key}}" type="hidden" value="False"-->
                                            <p>Not Includable</p>
                                        {% endif %}
                                    </td>

                <!--                      <td><input name="Status" type="hidden" value="{{current_tasks[item][key][2]}}">{{current_tasks[item][key][2]}}</td>-->
                                    <td>
                                            {% if current_tasks[item][key]['filetype'] not in ["Log", "Directory"] %}
                                                <input type="submit" value='Update Entry'id="uploads_table">
                                            {% elif current_tasks[item][key]['filetype'] in ["Log", "Directory"] %}
                                                <input type="submit" value='Download Entry'id="uploads_table">
                                            {% endif %}


                                    </td>
                                </tr>
                            </form>
                        {% endif %}
                        {% endfor %}
                        <thead><tr>
                            <th>Job ID</th>
                            <th>File(s) Included</th>
                            <th style="width: 10%">Transforms to Run & Metrics To Collect</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr></thead>
                        <tr>
                           <form method="post" name="JobInfoForm{{item}}" onsubmit="validate_gtirb_job({{item}})">
                                <input type="hidden" value="RunJob" name="HiddenField">
                                <td id="TD-JobID"><input name="JobID" type="hidden" value="{{item}}">{{item}}</td>
                                <td id="TD-JobIncluded">
                                    {% for task in current_tasks[item]["JobInfo"]["included"]%}
                                        <p>{{task}}</p><br>
                                    {% endfor %}
                                </td>


                                <td id="TD-JobTransform&Metrics">
                                    <section id="job_transform_section_{{item}}">
                                        <p class="do-not-display error-text" id="job_transform_must_select_{{item}}">Error: You must select one transform set to press submit</p>
                                        <select id="JobTransform" name="JobTransform">
                                            <option value="Must Select">Must Select</option>

                                            <option value="ddisasm,devirt,binary-print">ddisasm -> devirt -> binary-print</option>
                                            <option value="ddisasm,shuffle,binary-print">ddisasm -> shuffle -> binary-print</option>
                                            <option value="ddisasm,stack-stamp,binary-print">ddisasm -> stackstamp -> binaryprint</option>
                                            <option value="ddisasm,retpoline,binary-print">ddisasm -> retpoline -> binary-print</option>

                                            <option value="to-static,devirt,static-binary-print">to-static -> devirt -> static-binary-print</option>
                                            <option value="to-static,shuffle,static-binary-print">to-static -> shuffle -> static-binary-print</option>
                                            <option value="to-static,stack-stamp,static-binary-print">to-static -> stack-stamp -> static-binary-print</option>
                                            <option value="to-static,retpoline,static-binary-print">to-static -> retpoline -> static-binary-print</option>

                                        </select>
                                    </section>

                                    <section id="job_metrics_section_{{item}}">
                                        <p class="do-not-display error-text" id="job_metrics_must_select_{{item}}">Error: You must select one Metric Collection option to press submit</p>
                                        <select id="JobMetrics" name="JobMetrics">
                                            <option value="Must Select">Must Select</option>
                                            <option value="Aggressive">Aggressive Metrics Collection</option>
                                            <option value="Moderate">Moderate Metrics Collection</option>
                                            <option value="Conservative">Conservative Metrics Collection</option>
                                        </select>
                                    </section>

                                </td>

                                <td id="TD-JobStatus">
                                    {{current_tasks[item]["JobInfo"]["status"]}}
                                </td>

                                <td><input type="submit" value="Submit Job" id="s-{{item}}"></td>
                           </form>
                            <form method="post">
                                <input type="hidden" value="DownloadJob" name="HiddenField">
                                <input type="hidden" name="JobID" value="{{item}}">
                                <td><input type="submit" value="Download Job" id="d-{{item}}"></td>
                            </form>
                        </tr>

                      </tbody>
                </table>
            {% endfor %}
        {% else %}
            <p class="pt-20">No Files currently uploaded to server for transformation</p>
        {% endif %}

    </section>
</body>
<!--<script type="text/javascript">-->
<!--    console.log('Executing on load');-->
<!--    setIntervalH(UpdateCounter, 'Status', 500, '/api/methods/get_counter');-->
<!--    console.log('Completed setInterval')-->
<!--</script>-->
<script type="text/javascript">
    function get_server_data(cFunction, htmlID, apiRoute){
          var server_data=new XMLHttpRequest(cFunction);
          server_data.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                cFunction(this, htmlID);
                }
          };
          server_data.open("GET", apiRoute, true);
          server_data.send(null)
      }
    function UpdateCounter(server_data, htmlID){
        document.getElementById(htmlID).innerHTML = server_data.responseText;
    }
    function UpdateForm(server_data, htmlID){
        document.getElementById(htmlID).innerHTML = server_data.responseText;
        document.getElementById(htmlID).value = server_data.responseText;
    }
    var updateInterval = 1000;
    setInterval(function(){get_server_data(UpdateCounter, "TD-JobStatus", '/api/methods/logger')}, updateInterval)

</script>